<h2>New Repair Request</h2>

<form class="song" id="add-song" method="POST" action="/songs">

<div>
  <label for="song-title">Title:</label>
  <input type='text' name='song[title]' id="song-title">
</div>

<div>
  <label for="song-published-in">Year Published:</label>
  <input type='text' name='song[published_in]' id="song-published-in">
</div>

<div>
  <input type="submit" value="Add Song" class="btn">
</div>


</form>


